/* Toolbar area */

md-toolbar h3 {
  margin: auto;
  text-align: center;
  font-weight: 500;
  color: white;
}

/* Sidenav area */

md-list-item > button {
  width:100%;
  text-align:left !important;
  height:70px;
}

md-list .md-button.selected {
  color: #03a9f4;
}

md-sidenav > md-toolbar {
  height:64px;
}

md-list {
  background-color: white;
}
md-list-item {
  overflow: hidden;
}

/* Grid List area */

#gridContainer {
  padding: 8px;
}

#imgTile {
  padding: 8px;
}

.fullsize #img{
  max-height: 400px;
  width: auto;
}

/* Weird Safari outline glow workaround */
:focus {
  outline-color: transparent;
  outline-style: none;
}
